.bg-background {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}
section {
  background: url('./Images/spheregrid.svg') no-repeat center center fixed;
  background-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.home-container{
    background: linear-gradient(rgb(255, 78, 78), rgba(255, 0, 0, 0.09));
}

.home-container,
.about {
  box-shadow: 12px 12px 0px #000;
}
.author-img {
  position: relative;
  z-index: 10;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.425);
}
.image-container {
    border-width: 16px;
    border-style: solid;
/* border-image: linear-gradient(135deg, lime, #4d7bff ) 1; */
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  position: relative;
  top: 1rem;
  left: 1rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about-bottom {
    background: url('./Images/grid.png');
    background-size: cover;
    background-position: bottom 90%;
}
.contacts > a {

  /* #hover animation option 1 :  */
    /* transition: all 0.3s ease-in-out; */
    scale: 1;
  }
  .contacts > a:hover {
  animation: link 1s ease 0s infinite normal none;

  /* #hover animation option 1 :  */
    /* scale: 1.1;   */
}

@keyframes link {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.contacts > a:active {
    scale: 1.01;
    opacity: 0.8;
}
.folders > img {
    transition: all 0.3s ease-in-out;
}

.music-interest, .reads-interest, .gif-interest {
  animation: box 1s linear 0s 1 normal forwards;
}
.music-inner {
  animation: innerBox 1s ease 0s 1 normal forwards;
}


@keyframes box {
  0% {
    box-shadow: rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px;
    transform: translateX(0px) translateY(0px);
  }
  100% {
    box-shadow: rgba(62, 62, 62, 0.18) 1px -1px, rgba(62, 62, 62, 0.18) 2px -2px, rgba(62, 62, 62, 0.18) 3px -3px, rgba(62, 62, 62, 0.18) 4px -4px, rgba(62, 62, 62, 0.18) 5px -5px, rgba(62, 62, 62, 0.18) 6px -6px, rgba(62, 62, 62, 0.18) 7px -7px, rgba(62, 62, 62, 0.18) 8px -8px;
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes innerBox {
  0% {
    box-shadow: rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px, rgba(62, 62, 62, 0.18) 0px 0px;
    transform: translateX(0px) translateY(0px);
  }
  100% {
    box-shadow: rgba(62, 62, 62, 0.18) 1px -1px, rgba(62, 62, 62, 0.18) 2px -2px, rgba(62, 62, 62, 0.18) 3px -3px, rgba(62, 62, 62, 0.18) 4px -4px, rgba(62, 62, 62, 0.18) 5px -5px, rgba(62, 62, 62, 0.18) 6px -6px, rgba(62, 62, 62, 0.18) 7px -7px, rgba(62, 62, 62, 0.18) 8px -8px;
    transform: translateX(-1px) translateY(1px);
  }
}


.interest {
  position: absolute;
  bottom: 4%;
  width: 100%;
}
.card-text-interest {
  background-color: grey;
}
.card-text-interest > div{
  box-shadow: 2px -2px 10px black;
  background-color: #c4c4c4;
}
.cat {
  box-shadow: 2px -2px 10px black;
}
